<form [formGroup]="form" (submit)="saveChanges()">
    <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required minlength="3">
    <mat-error *ngIf="form.touched && form.invalid">
        {{getErrorMessageFieldName()}}
    </mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="accent" [disabled]="form.invalid">Save Changes</button>
        <a mat-mini-fab color="warn" routerLink="/genres">
        <mat-icon>cancel</mat-icon>
        </a>
    </div>
    </form>